{
  "users": [
    {
      "email": "admin@example.com",
      "alliances": [
        "*"
      ],
      "role": "admin"
    },
    {
      "email": "r5-user@example.com",
      "alliances": [
        "UvvU"
      ],
      "role": "r5"
    },
    {
      "email": "r4-user@example.com",
      "alliances": [
        "UvvU",
        "ORCE"
      ],
      "role": "r4"
    }
  ]
}